@charset "utf-8";
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
h1 {
    font-size: 36px;
    text-align: center;
    color: #B79002;
}

h2 {
    font-size: 28px;
    text-align: center;
    color: #B79002;
}


#section-1 ul {
    display: flex;

}

#section-1 li {
    display: flex;
    justify-content: center;
    /* width: 190px; */
    width: calc(100% / 6);
    padding: 0px;
}

.page {
text-align:center;
}
#section-1 .page {
    color: #000;
    font-family: initial;
    font-size: 24px;
    font-style: normal;
    border-left: 2px solid #F7CB2C;
    padding:  10px;
}
.page a {
    color: #F7CB2C;
}

.page:last-child  {
    border-right: 2px solid #F7CB2C;
    padding: 10px;
}
.gazou img {
    width: 400;
    height: 550px;
}
.wine {
    width: 640px;
    height: 550px;
}
.gazou {
    display: flex;
    justify-content: center;
   
}
.syasinn img {
    width: 250px;
    height: 250px;

}
.syasinn {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.syasinn img {
    border-radius: 50%;
}

#section-2 h3 {
    text-align: center;
    font-size: 16px;
}
.ryouri {
    display: flex;
    justify-content: center;
}


#section-3 h3 {
    font-size: 16px;
}


#section-3 div {
    gap: 27px;
    text-align: center;
}

.head-border {
    display: flex;
    align-items: center;
    padding: 0 190px;
}

.head-border:before,
.head-border:after {
    content: "";
    height: 3px;
    flex-grow: 1;
    background-color: #B79002;
}

.head-border:before {
    margin-right: 82px;
}

.head-border:after {
    margin-left: 82px;
}

.info-box  img{
    max-width: 100%;
    height: 150px;
}

footer {
    background: #fff;
    color: #000;
    text-align: center;
    padding: 20px 0;
  }
  .copyright {
    font-size: 14px;
  }